*{
  box-sizing: border-box;
  
}
form{
  max-width: 540px;
  background-color: #fff;
  padding: 40px 30px 70px;
  margin: 70px auto 20px;
  border-radius: 15px;  
}

label {
    display: block;
    font-weight: bold;
    margin: 5px;
  }
  
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px;
  }
  body{
    background: linear-gradient(120deg, #56ab2f, #a8e063);
  }
  #weather-info{
    margin: 70px auto 200px;
    justify-content: center;
    position: relative;
    left: 500px;
    padding: 20px;
  }